body{
  font-family: 'Raleway', sans-serif;
}

.search-book-hdr-wrapper{
  padding: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
  background-color: white;
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-book-hdr-wrapper input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.back-arrow{
  display: block;
  top: 20px;
  left: 15px;
  background-size: 28px;
  color: #545252;
  padding: 18px 20px 0px 20px;
}

.book-list-wrapper{
  margin: 70px 10px 10px 10px;
}

.book-list{
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.book-list .book-item{
  margin: 15px;
  width: 140px;
}

.book-cover {
  height: 193px;
  width: 128px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
  background-color: #fff;
}

.book-title{
  margin-top: 10px;
  font-weight: 700;
}

.book-author{
  font-size: 12px;
  color: #aba6a6;
  margin-top: 5px;
}

.author-name{
  margin-bottom: 2px;
}